* {
  box-sizing: border-box;
  font-family: 'Alegreya Sans', sans-serif;
}

body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#help-line {
  text-shadow: 2px 2px gold;
}

#rover {
  position: absolute;
  top: auto;
  left: auto;
  height: 100px;
  width: 100px;
}

.logo {
  max-width: 100px;
  max-height: 100px;
}

.logo:active {
  
}

.team {
  width: 100%;
}

.button {
  display: block;
  float: none;
  margin: 6px auto;
  background-color: rgba(62, 48, 34, 0.62);
  border-color: #411313;
  color: white;
}

.button:hover {
  color: white;
  background-color: #411313;
  border-color: rgba(62, 48, 34, 0.62);
}

.btn.active, .btn:active, .button:active {
  background-color: #e3ba09;
  border-color: #411313;
}

.full-width {
  width: 100%;
  height: 100%;
}

.center {
  display: block;
  float: none;
  margin: 0 auto;
}

.social-media-logo {
  height: 50px;
  width: 50px;
}

.logo-name {
  font-size: 20px;
  vertical-align: middle;
}

.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.donate-step {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.indent {
  text-indent: 50px;
}

.cap-first::first-letter {
  font-size: 130%;
}

.donate-instruction {
  color: white;
}

.donate-panel {
  width: auto;
  max-height: 50px;
  overflow: hidden;
  transition: max-height 2s;
}

.donate-panel:hover { 
  max-height: 1000px;
}