.jumbotron {
  background-image: url("../img/group.jpg");
  background-size: cover;
}

body {
  background-color: lightblue;
}

#help-line {
  text-shadow: 2px 2px gold;
}

.jumbotron {
  height: 300px;
}

#rover {
  position: absolute;
  top: auto;
  left: auto;
  height: 100px;
  width: 100px;
}
