* {
  box-sizing: border-box;
  font-family: 'Alegreya Sans', sans-serif;
}

body {
  background-image: url("../img/background.jpg");
}

#help-line {
  text-shadow: 2px 2px gold;
}

#rover {
  position: absolute;
  top: auto;
  left: auto;
  height: 100px;
  width: 100px;
}

.logo {
  max-width: 100px;
  max-height: 100px;
}

.team {
  width: 100%;
}

.button {
  display: block;
  float: none;
  margin: 6px auto;
}

.full-width {
  width: 100%;
  height: 100%;
}

.center {
  display: block;
  float: none;
  margin: 0 auto;
}

.social-media-logo {
  height: 50px;
  width: 50px;
}

.logo-name {
  font-size: 20px;
  vertical-align: middle;
}

.row {
  margin-top: 10px;
  margin-bottom: 10px;
}